<a href="https://colab.research.google.com/github/cheesss/python/blob/main/BIG_PY_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=[]
sum = 0
for i in range(5):
  b = int(input())
  a.append(b)
  sum = sum + a[i]
print("합:",sum)
print("평균:",sum/5)

1
5
2
7
4
합: 19
평균: 3.8

In [ ]:
import random
myungun = ["인생은 짧다","학기는 길다","방학은 짧다", "종강은 멀다"]
a = random.choice(myungun)
print("오늘의 명언:",a)

오늘의 명언: 종강은 멀다

In [ ]:
import random
s1=s2=s3=s4=s5=s6=0
dice =[1,2,3,4,5,6]
for a in range(1000001):
  b = random.choice(dice)
  if b==1:
    s1 += 1
  elif b==2:
    s2 += 1
  elif b==3:
    s3 += 1
  elif b==4:
    s4 += 1
  elif b==5:
    s5 += 1
  else:
    s6 += 1
print("s1, s2, s3, s4, s5, s6 출력횟수",s1,s2,s3,s4,s5,s6)

s1, s2, s3, s4, s5, s6 출력횟수 166575 166784 166873 167261 166401 166107

In [ ]:
a = []
b = int(input("입력받을 수 개수:"))
for i in range(b):
  a.append(int(input()))

while b!=0:
  print(a[b-1])
  b -= 1

입력받을 수 개수:3
1
2
3
3
2
1

In [ ]:
a = int(input("N*N의 N:"))
d = [[0] * a for b in range(a)]

for i in range(a):
  for j in range(a):
    d[i][j] = i*j
print(d)

N*N의 N:3
[[0, 0, 0], [0, 1, 2], [0, 2, 4]]

In [ ]:
a = 5
list1 = []
for i in range(5):
  c = input("단어:")
  list1.append(c)

list2 = []
a2 = input("검색하고 싶은 문장 또는 단어:")
for i in list1:
  if a2 in i:
    list2.append(i)
  else:
    pass

if len(list2)==0:
  print("none")
else:
  print(list2)

단어:cho
단어:hoi
단어:qoe
단어:ah
단어:alo
검색하고 싶은 문장 또는 단어:234
none

In [ ]:
a = []
a = list(map(int, input().split()))
for i in range(len(a)):
  if a[i]%2 == 0:
    print(a[i]/2)
  else:
    print(a[i]*2)

123 234 34 4
246
117.0
17.0
2.0

In [ ]:
a = []
b = int(input("증가시키고 싶은 값:"))
for i in range(-10,11):
  a.append(i+b)
  
print(a)

증가시키고 싶은 값:-3
[-13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
a = []
a = list(map(int, input().split()))

i = len(a) - 1
while i !=1:
  print(a[i-1])
  i -= 1

1 2 3 4 5 6 7
6
5
4
3
2

In [ ]:
modelList = ["2018_GAMODEL001","2016_GAMODEL002","2015_ELMODEL001","2020_MODEL041","2020_MODEL022","2020_MODEL027","2020_MODEL055","2020_MODEL023"]

for a in range(len(modelList)):
  if int(modelList[a][3]) >= 9:
    if (int(modelList[a][14])+int(modelList[a][13]))%2 ==0:
      modelList[a] = "GAS_"+modelList[a]
    else:
      modelList[a] = "ELEC_"+modelList[a]
  elif modelList[a][5] == "G":
    modelList[a] = "GAS_"+modelList[a]
  else:
    modelList[a] = "ELEC_"+modelList[a]
print(modelList)

['GAS_2018_GAMODEL001', 'GAS_2016_GAMODEL002', 'ELEC_2015_ELMODEL001', 'ELEC_2020_MODEL041', 'ELEC_2020_MODEL022', 'ELEC_2020_MODEL027', 'ELEC_2020_MODEL055', 'ELEC_2020_MODEL023']

In [ ]:
name = {}
name["cho"] = "010-6543-5128"
print(name)

In [ ]:
!python /test.py

hello

In [15]:
T=3
case = {}
for i in range(1,T+1):
  A = int(input())
  B = int(input())
  plus = A+B
  minus = A-B
  multiply = A*B
  divide  = A/B
  case_num = str("case#"+str(i))
  case[case_num] = plus, minus, multiply, divide
  print(case[case_num])

print(case)

43
23
(66, 20, 989, 1.8695652173913044)
12
43
(55, -31, 516, 0.27906976744186046)
53
3
(56, 50, 159, 17.666666666666668)
{'case#1': (66, 20, 989, 1.8695652173913044), 'case#2': (55, -31, 516, 0.27906976744186046), 'case#3': (56, 50, 159, 17.666666666666668)}

In [29]:
ondo = {'요일':'최고기온','월' : '25,5','화':'28.3','수':'33.2','목':'32.1','금':'17.3','토':'35.3','일':'33.3'}
print(f'{ondo.keys()}')
print(ondo.values())

dict_keys(['요일', '월', '화', '수', '목', '금', '토', '일'])
dict_values(['최고기온', '25,5', '28.3', '33.2', '32.1', '17.3', '35.3', '33.3'])