<a href="https://colab.research.google.com/github/cheesss/python/blob/main/BIG_PY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1+1

2

In [ ]:
None = 10

SyntaxError: ignored

In [ ]:
None1 = 10
import

In [ ]:
num = 10

In [ ]:
5 < num < 30 #이런것도 된다.

True

In [ ]:
PI = 3.14
r = 5
v = 4/3 * PI *r**3
print(v)

523.3333333333334

In [ ]:
p=24.95
sp = p * 0.6
num = 60
basongbee = 0.75
total = (sp * num) + (basongbee*num)
print(total)

943.1999999999999

In [ ]:
not ( 300 or ( False ) )

False

In [ ]:
print("판단하고싶은 년도를 입력하시오: ")
y = float(input())
if (y%4 == 0) :
    if(y%100 == 0) :
      if (y%400 == 0):
        print(y,"는 윤년입니다.")
    else:
      print(y,"는 윤년이 아닙니다.")
else:
    print(y,"는 윤년이 아닙니다.")

판단하고싶은 년도를 입력하시오:
400
400.0 는 윤년입니다.

In [ ]:
k = 80
e = 75
m = 55
avg = (k+e+m)/3
print(avg)

70.0

In [ ]:
if(13%2 == 0):
  print("13은 짝수입니다")
else:
  print("13은 홀수입니다")

13은 홀수입니다

In [ ]:
not 1+1 == y or x == 4 and 7 == 8

True

In [ ]:
print("화씨 몇도인가요?")
f=float(input())
c=(f-32)/1.8
print(f,"는 섭씨로",c," 입니다")

화씨 몇도인가요?
50
50.0 는 섭씨로 10.0  입니다

In [ ]:
print("몇 종류의 주식을 갖고있나요?")
num = int(input())
i = 1
all = 0
while i<=num:
  print(i,"번째 종목은 몇개 갖고있나요?")
  m = int(input())
  
  print(i, "번째 주식은 몇퍼센트 떨어졌나요?")
  p = float(input())

  print("이 주식은 한주에 얼마인가요?")
  v = float(input())
  all = all + v*m*((100-p)/100)
  i = i+1

print("보유한 주식 총액은 ",all,"입니다.")

몇 종류의 주식을 갖고있나요?
2
1 번째 종목은 몇개 갖고있나요?
100
1 번째 주식은 몇퍼센트 떨어졌나요?
5
이 주식은 한주에 얼마인가요?
89000
2 번째 종목은 몇개 갖고있나요?
20
1 번째 주식은 몇퍼센트 떨어졌나요?
10
이 주식은 한주에 얼마인가요?
751000
보유한 주식 총액은  21973000.0 입니다.

In [1]:
1e15

1000000000000000.0

In [2]:
10e15

1e+16