<a href="https://colab.research.google.com/github/cheesss/python/blob/main/BIG_PY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1+1

2

In [ ]:
None = 10

SyntaxError: ignored

In [ ]:
None1 = 10
import

In [ ]:
num = 10

In [ ]:
5 < num < 30 #이런것도 된다.

True

In [ ]:
PI = 3.14
r = 5
v = 4/3 * PI *r**3
print(v)

523.3333333333334

In [ ]:
p=24.95
sp = p * 0.6
num = 60
basongbee = 0.75
total = (sp * num) + (basongbee*num)
print(total)

943.1999999999999

In [ ]:
not ( 300 or ( False ) )

False

In [ ]:
print("판단하고싶은 년도를 입력하시오: ")
y = float(input())
if (y%4 == 0) :
    if(y%100 == 0) :
      if (y%400 == 0):
        print(y,"는 윤년입니다.")
    else:
      print(y,"는 윤년이 아닙니다.")
else:
    print(y,"는 윤년이 아닙니다.")


#print( (year %4== 0 ) and (year %100 ≠ 0 ) (year %400 ==0)) 이렇게 요약가능하다

판단하고싶은 년도를 입력하시오:
400
400.0 는 윤년입니다.

In [ ]:
k = 80
e = 75
m = 55
avg = (k+e+m)/3
print(avg)

70.0

In [ ]:
if(13%2 == 0):
  print("13은 짝수입니다")
else:
  print("13은 홀수입니다")

13은 홀수입니다

In [ ]:
not 1+1 == y or x == 4 and 7 == 8

True

In [ ]:
print("화씨 몇도인가요?")
f=float(input())
c=(f-32)/1.8
print(f,"는 섭씨로",c," 입니다")

화씨 몇도인가요?
50
50.0 는 섭씨로 10.0  입니다

In [ ]:
print("몇 종류의 주식을 갖고있나요?")
num = int(input())
i = 1
all = 0
while i<=num:
  print(i,"번째 종목은 몇개 갖고있나요?")
  m = int(input())
  
  print(i, "번째 주식은 몇퍼센트 떨어졌나요?")
  p = float(input())

  print("이 주식은 한주에 얼마인가요?")
  v = float(input())
  all = all + v*m*((100-p)/100)
  i = i+1

print("보유한 주식 총액은 ",all,"입니다.")

몇 종류의 주식을 갖고있나요?
2
1 번째 종목은 몇개 갖고있나요?
100
1 번째 주식은 몇퍼센트 떨어졌나요?
5
이 주식은 한주에 얼마인가요?
89000
2 번째 종목은 몇개 갖고있나요?
20
1 번째 주식은 몇퍼센트 떨어졌나요?
10
이 주식은 한주에 얼마인가요?
751000
보유한 주식 총액은  21973000.0 입니다.

In [ ]:
1e15

1000000000000000.0

In [ ]:
1e16

1e+16

In [ ]:
0b10

2

In [ ]:
'''
안녕하세요
'''

#안녕하세요
#위 두문장은 같다

print("안녕 \t 안녕") #탭 입력 제어자이다

안녕 	 안녕

In [ ]:
print("  ^ ^\n(')(')\n  --")

  ^ ^
(')(')
  --

In [ ]:
num = 7
print("오늘 나는 %d 끼를 먹었습니다" % num)

오늘 나는 7 끼를 먹었습니다

In [ ]:
num = 7
print("오늘 나는 %5d 끼를 먹었습니다" % num)
#%뒤에 넣은 숫자만큼 전체 출력 자릿수를 지정할 수 있다

오늘 나는     7 끼를 먹었습니다

In [ ]:
num = 7
print("오늘 나는 %-5d 끼를 먹었습니다" % num)
#뒤에 공백이 생긴다

오늘 나는 7     끼를 먹었습니다

In [ ]:
person1 = '조현준'
person2 = '한채린' #채신기술 !
print(f"{person1}는 {person2}와 밥을 먹었습니다") #f string

조현준는 한채린와 밥을 먹었습니다

In [ ]:
a= "안녕"*40
print(a)

안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕

In [ ]:
print("안"+"녕")

안녕

In [ ]:
sentence ="안녕하세요 조현준입니다"
sentence[2:3]   #출력하고자하는 값 +1부터 시작해야한다

'하'

In [ ]:
print("조현준" in "안녕하세요 조현준입니다")

True

In [ ]:
sentence ="안녕하세요 조현준입니다"
sentence[:]

'안녕하세요 조현준입니다'

In [ ]:
a ="hello"
print(a.upper())   #비파괴적 함수로 원본 a값은 바뀌지 않는다
print(a)

HELLO
hello

In [ ]:
a="안녕안녕하세요".rfind("안녕")
print(a)    #문장의 오른쪽부터 검색

2

In [ ]:
a="10 20 30 40".split()
print(a)      #원하는 기준으로 나누기

['10', '20', '30', '40']

In [ ]:
"ptrhon2022".isalnum() and "Python".isupper()

False

In [ ]:
print("고려대학교\t세종캠퍼스\n창립캠퍼스: 1980년\n학생 수: 7,240\n지역 : 충청남도\n색상 : 크림슨")

고려대학교	세종캠퍼스
창립캠퍼스: 1980년
학생 수: 7,240
지역 : 충청남도
색상 : 크림슨

In [ ]:
a="안녕하세요"+"파이썬"
b="요파"
if(a.find(b)):
  print(True)
else:
  print(False)

True

In [ ]:
a="안녕하세요"+"파이썬"
b="요파"
print(b in a)

True

In [ ]:
a="넌 나만 보면 매일 a busy guy 종일 할 일이 너무 많아"
print(a[12:22])

 busy guy

In [ ]:
a='Daum KaKao'
print(a[5:]+' '+a[0:4])

KaKao Daum

In [ ]:
a="Hello, Python"

print(f"{a}의 길이는 {len(a)}입니다")

Hello, Python의 길이는 13입니다

In [ ]:
a="imhungry"
print(a.isalpha())

True

In [ ]:
myStr = 'BigPy'
print(myStr.upper())
print(myStr.lower())
print(myStr.swapcase())
print(myStr.title())

BIGPY
bigpy
bIGpY
Bigpy

In [ ]:
myStr = 'Big Py, Korea University, Big Data'
myStr.rfind('Big')

26

In [ ]:
a="5969782550"
b=eval(a)*74200
print("삼성전자 시가총액은 ",b,"입니다")

삼성전자 시가총액은  442957865210000 입니다

In [ ]:
lang = 'python'
lang[0] = 'P'   #문자열은 수정이 불가능하다
print(lang)

TypeError: ignored

In [ ]:
print(list(range(1, 20, 0.8)))

TypeError: ignored

In [10]:
#i =  0 파이썬에선 있어도 되고 없어도 된다
sum = 0
for i in range(0,7,1): #1은 생략가능 0~6동안 반복
  sum= sum + i
  print(i, sum)
  i = i + 1

0 0
1 1
2 3
3 6
4 10
5 15
6 21

In [9]:
i = 0
sum = 0
while(i<7):
  sum = sum + i
  print(i, sum)
  i = i + 1

0 0
1 1
2 3
3 6
4 10
5 15
6 21